/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    height: 100px;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: color 5s  linear infinite;
}

@keyframes color {
    0% {
        background-color: black;
    }

    30% {
        background-color: white;
    }

    60% {
        background-color: white;
    }

    100% {
        background-color: black;
    }

}

h1 {
    animation: text 5s linear infinite;
}

@keyframes text {
    0% {
        color: red;
        transform: scale(1);
    }

    30% {
        color: black;
    }

    50% {
        transform: scale(1.5);
    }

    60% {
        color: black;
    }

    100% {
        color: red;
        transform: scale(1);
    }
}

/* MAIN */
.container {
    width: 50vw;
    margin: 0 auto;
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.info-user, .ticket-prices {
    color: white;
    text-align: center;
}

#age, #km, #ticket-prize, #target {
    font-size: 1.25rem;
    font-weight: bolder;
    color: red;
}